.video-container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 500px;
}

.skip-ad-button {
  padding: 8px;
  /* color: white;
  background-color: grey; */
  border-radius: 4px;
  position: absolute;
  bottom: 80px;
  right: 0;
  align-self: end;
}